@import "reset.css";

html{
    color: #FAFAFA;
    background-color: #0F0F0F;
}

h1{
    font: 42px 'Poppins', sans-serif;
}

h2{
    font: 24px 'Poppins', sans-serif;
}

p, input, button{
    font: 16px 'Roboto', sans-serif;
}

button{
    cursor: pointer;
    font-weight: bold;
}
